// COLORS
$whiteTextColor: rgb(255 255 255);
$errorTextColor: rgb(210 10 0);
$successTextColor: rgb(0 160 0);
$accentColor: rgb(20 125 255);
$grayColorLight: rgb(245 245 245);
$grayColor: rgb(230 230 230);
$grayColorDark: rgb(215 215 215);
$grayColorDarkest: rgb(180 180 180);

$highPriorityColor: rgb(210 10 0);
$mediumPriorityColor: rgb(255 165 0);
$lowPriorityColor: rgb(0 160 0);

// PAGE PROPERTIES
$mainPageWidth: 60%;
$mainPageMarginFromTop: 4rem;
$mainPageMenuWidth: 20%;
$mainPageMenuToContentGap: 1rem;
$mainPageHeaderToNavGap: 0.5rem;

// FONT SIZES
$defaultFontSize: 16px;
$defaultMainHeaderFontSize: 2.25rem;
$defaultLabelFontSize: 0.875rem;

// TRANSITIONS
$defaultInOutFastTransition: all 0.1s ease-in-out;
