// COLORS
$accentColor: rgb(255 145 20);
$grayColorLight: rgb(245 245 245);
$grayColor: rgb(230 230 230);
$grayColorDark: rgb(215 215 215);

// PAGE PROPERTIES
$mainPageWidth: 60%;
$mainPageMarginFromTop: 4rem;
$mainPageMenuWidth: 20%;
$mainPageMenuToContentGap: 1rem;
$mainPageHeaderToNavGap: 0.5rem;

// FONT SIZES
$defaultFontSize: 16px;
$defaultMainHeaderFontSize: 2.25rem;

// TRANSITIONS
$defaultInOutFastTransition: all 0.1s ease-in-out;
