* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  width: 100%;
  font-family: Gilroy, Roboto, Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form,
button,
fieldset {
  border: none;
}

input,
textarea,
button {
  font-family: Gilroy, Arial, sans-serif;
}
