@use '../../styles/vars' as *;

.button {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $grayColor;
  transition: $defaultInOutFastTransition;
  font-size: 1rem;

  &:hover {
    background-color: $grayColorDark;
  }

  .box {
    display: flex;
    align-items: center;
    gap: 0.375rem;

    svg {
      fill: $grayColorIcons;
      height: 1rem;
    }
  }
}

.delete {
  &:hover {
    background-color: $errorBackgroundColor;
    color: $whiteTextColor;

    .box {
      svg {
        fill: $whiteTextColor;
      }
    }
  }
}

.change {
  flex: 1 0 8rem;

  &:hover {
    background-color: $successBackgroundColor;
    color: $whiteTextColor;
  }
}

.cancel {
  &:hover {
    background-color: $errorBackgroundColor;
    color: $whiteTextColor;

    .box {
      svg {
        fill: $whiteTextColor;
      }
    }
  }
}

@media screen and (width < 827px) {
  .button {
    padding: 0.75rem;
  }

  .change {
    flex: 1 0 auto;

    &:hover {
      background-color: $successBackgroundColor;
      color: $whiteTextColor;
    }
  }
}

@media screen and (width < 591px) {
  .button {
    padding: 0.75rem;
  }

  .change {
    flex: 1 0 auto;

    &:hover {
      background-color: $successBackgroundColor;
      color: $whiteTextColor;
    }
  }
}
