@use '../../styles/vars' as *;

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(100%, 30rem);
}

@media screen and (width <= 769px) {
  .formWrapper {
    width: 100%;
  }
}
