@use '../../styles/vars' as *;

.task {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $grayColor;

  .titleBox {
    width: 100%;
    display: flex;
    flex-direction: column;

    .title {
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.75rem;
    }

    .description {
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    .bar {
      text-wrap: nowrap;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
      padding: 0.25rem 0.625rem;
      border-radius: 999rem;
    }

    .priority {
      color: $whiteTextColor;
    }

    .status {
      background-color: $accentColor;
      color: $whiteTextColor;
    }

    .assignedBy {
      background-color: $grayColorDark;
    }

    .red {
      background-color: $highPriorityColor;
    }

    .yellow {
      background-color: $mediumPriorityColor;
    }

    .green {
      background-color: $lowPriorityColor;
    }
  }
}

@media screen and (width < 441px) {
  .task {
    .info {
      .bar {
        flex-grow: 1;
      }
    }
  }
}
