@use '../../styles/vars' as *;

.container {
  max-width: 1920px;
  min-height: 100svh;
  display: flex;
  gap: $mainPageMenuToContentGap;
  width: $mainPageWidth;
  margin: 0 auto;

  .stickyContainer {
    width: $mainPageMenuWidth;

    .header {
      position: sticky;
      top: $mainPageMarginFromTop;
      display: flex;
      flex-direction: column;
      gap: $mainPageHeaderToNavGap;
      margin-top: $mainPageMarginFromTop;
      width: 100%;

      .headerText {
        font-size: $defaultMainHeaderFontSize;
      }

      .navigation {
        display: block;
        width: 100%;

        .list {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: 100%;

          .item {
            width: 100%;

            .reactLink {
              cursor: pointer;
              padding: 0.5rem 0.675rem;
              border-radius: 0.5rem;
              background-color: $grayColor;
              display: flex;
              width: 100%;
              transition: $defaultInOutFastTransition;

              &:hover {
                background-color: $grayColorDark;
              }

              .linkWrapper {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 0.5rem;

                .icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }

                svg {
                  width: 1.375rem;
                  fill: $grayColorDarkest;
                }
              }
            }

            .active {
              background-color: $grayColorDark;
            }
          }
        }
      }
    }
  }

  .content {
    margin-top: $mainPageMarginFromTop;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - $mainPageMenuWidth - 1rem);
  }
}
