@use '../../styles/vars' as *;

.segment {
  display: flex;
  flex-direction: column;
  gap: $mainPageHeaderToNavGap;
  width: 100%;

  .headerBox {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .titleAndReturn {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      .backButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
      }

      .headerLarge {
        font-size: $defaultMainHeaderFontSize;
        font-weight: 700;
      }

      .headerSmall {
        font-size: $defaultMainHeaderFontSize - 0.5rem;
      }
    }

    .filtersBox {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .filtersButton {
        cursor: pointer;
        border-radius: 10rem;
        padding: 0.45rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2rem;

        svg {
          fill: $grayColorIcons;
        }
      }

      .filters {
        background-color: $whiteTextColor;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 5px 8px 0 rgb(0 0 0 / 0.3);
        position: absolute;
        top: 2.5rem;
        right: 0;
        z-index: 999;
        width: max-content;
      }

      .filtersButton:hover {
        background-color: $grayColor;
      }
    }
  }

  .content {
    width: 100%;
  }
}

.error {
  color: $errorTextColor;
}
