@use '../../styles/vars' as *;

.segment {
  display: flex;
  flex-direction: column;
  gap: $mainPageHeaderToNavGap;
  width: 100%;

  .headerLarge {
    font-size: $defaultMainHeaderFontSize;
    font-weight: 700;
  }

  .headerSmall {
    font-size: $defaultMainHeaderFontSize - 0.5rem;
  }

  .content {
    width: 100%;
  }
}

.error {
  color: $errorTextColor;
}
